
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Result1 : @ViewBag.result1
    <br />
    Result2 : @ViewBag.result2
    <br />
    Result3 : @ViewBag.result3
    <br />
    Result4 : @ViewBag.result4
    <br />
    Result5 : @ViewBag.result5
</body>
</html>
